body{
    background-color:#e5a4ac;
}
.app{
    display:flex;
    flex-direction:column;
    padding:30px;
    align-content: row-wrap;
}
@media screen and (min-width:480px){
.game{
    width:560px;
    height:560px;
    display:flex;
    flex-wrap:wrap;
}

.game img {
    width:70px;
    height:70px;
}
}
@media screen and (max-width:480px) {
    .app{
        display:flex;
        padding:30px;
    }
    .game{
        width:320px;
        height:320px;
        display:flex;
        flex-wrap:wrap;
    }
    
    .game img {
        width:40px;
        height:40px;
    }
}